@import 'vars';

body {
  background: #fff;
  font-family: 'Roboto';
}

h1 {
  position: inherit;
}

.contact-slogan {
  margin: 0 auto;
  margin-top: 50px;
  margin-left: 20px;

  h1 {
    margin: 0;
    padding: 0;
    position: inherit;
    font-size: 20px;
    font-family: 'Noto Sans';
    text-transform: none;
    padding-bottom: 5px;
  }

  h1:nth-child(2n) {
    font-size: 16px;
    font-weight: normal;
    border-top: 4px solid $color-branding-yellow;
    padding-top: 5px;
    font-family: 'Roboto';
  }
}

.contact-info {
  margin-top: 60px;
  margin-left: 20px;

  h3:nth-child(2n) {
    padding-top: 30px;
  }
}

.contact {
  width: 80%;
  position: inherit;
  font-family: 'Roboto';

  p {
    font-size: 14px;
    font-weight: lighter;
    margin: 5px;
  }

  h3 {
    font-size: 18px;
    margin: 15px 0px 10px 5px;
  }

  img {
    height: 18px;
    width: 18px;
    padding-right: 10px;
    vertical-align: middle;
  }
}

.contact-form {
  text-align: center;
  margin: 50px auto 0;
  width: 80%;
  height: 800px;

  span {
    font-size: 20px;
    font-weight: 600;
    border-bottom: 4px solid $color-branding-yellow;

    &.asterisk {
      color: $color-branding-yellow;
      border: none;
      font-size: 14px;
    }
  }

  input {
    background: #eee9e9;
    border: none;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 25px;

    &.form-message {
      height: 200px;
    }
  }

  select {
    @extend input;
    padding-left: 10px;

    option {
    }
  }

  input::placeholder {
    padding-left: 10px;
    font-weight: 400;
  }

  p {
    text-align: left;
    font-weight: bold;
  }
}

.submit-button {
  width: 40%;
  background: $color-branding-yellow;
  border: none;
  height: 30px;
  font-weight: bold;
}

@media screen and (min-width: 960px) {
  .contact {
    margin: 0 auto;
  }
  .contact-form span {
    font-size: 28px;
  }
  .contact-slogan h1:nth-child(2n) {
    width: 425px;
  }
  .contact-form input,
  .contact-form select {
    height: 40px;
  }
  .submit-button {
    width: 30%;
    height: 60px;
    font-size: 20px;
  }
}
