@import 'vars';

body {
  font-family: 'Roboto';

  h1 {
    position: inherit;
    text-transform: none;
  }
  background: white;
  font-weight: 300;
  background-color: $color_bg;
  margin: 0;
}

.flex-container {
  display: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-top: $gutter * 3;
  padding-bottom: $gutter;
  .header {
    width: 100%;
    color: #000;
    margin-bottom: $gutter;
    p {
      color: $color_gray;
      margin-bottom: 0;
    }
  }
  .item {
    width: 100%;
    input[type="checkbox"] {
      display: none;
      &:checked {
        & + label {
          background-color: $color-branding-yellow;
          color: $color_white;
          &:after {
            content: "-";
            color: $color_white;
          }
          & + div {
            display: block;
          }
        }
      }
    }
    label {
      display: block;
      width: 100%;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      position: relative;
      padding: 12px;
      background-color: $color_white;
      color: #353535;
      cursor: pointer;
      webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      &:after {
        content: "+";
        font-weight: bold;
        position: absolute;
        right: $gutter;
        color: #353535;
      }
      &:hover {
        background-color: $color-white;
        color: #353535;
        @include transition(background-color, 100ms, linear);
        &:after {
          color: #353535;
        }
      }
    }
    div {
      display: none;
      border-top: none;
      padding: $gutter;
      background-color: $color_white;
      //border: 1px solid $color_primary;
      text-align: left;
    }
  }
}

/* Base */
//Note: This CSS is only here for the design

.container {
  input + label {
    left: 0px;
    height: 40px;
    z-index: 1;
  }
  header {
    margin-bottom: 20px;
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1 {
  @include font-heading;
}

h3 {
  margin: 20px 0px 15px 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

footer {
  text-align: center;
  color: $color_gray;
  font-size: 12px;
  padding: $gutter * 2;
  a:hover {
    color: $color_primary;
  }
}

@media screen and (min-width: 780px) {
  .container {
    .item {
      label {
        height: 80px;
        padding: 26px;
        font-size: 18px;
      }
    }
  }
  .nav-desktop a {
    color: #000;
  }
}

@media screen and (min-width: 960px) {
  .diensten-wrapper-desktop {
    height: 100px;
    width: 100px;
    background: red;
  }

  .flex-container {
    width: 100%;
    height: 1000;
    background: #f0f0f0;
    padding: 0;
    margin: 0;
    justify-content: center;
    list-style: none;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
  }

  .wrap {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .wrap li {
    background: #fff;
  }

  .flex-item {
    background: #f0f0f0;
    width: 30%;
    margin: 10px;
    height: 300px;
    color: white;
    font-size: 2em;
    text-align: center;
  }
  .diensten-desc {
    font-size: 24px;
  }
  .diensten-img {
    padding-top: 40px;
    height: 30%;
    width: 100%;
  }
  .diensten-description {
    width: 100%;
    height: 50%;
    background: white;
  }
  .diensten-header {
    margin: 0;
    padding: 0;
    line-height: 60px;
    color: black;
  }
  .diensten-paragraph {
    background: white;
    color: #808080;
    font-size: 14px;
    line-height: 16px;
    width: 80%;
    text-align: justify;
    margin: 0 auto;
  }
  .header {
    h1 {
      font-size: 40px;
      padding-top: 30px;
    }
  }
  ul.nav-desktop {
    margin-top: -50px;
  }
  .item {
    display: none;
  }
  .container {
    width: 100%;
  }
}
