@import 'vars';

body {
  @include font-heading();
  margin: 0;
  background: none;
}

// body h1 {
//   text-align: center;
//   color: red;
//   z-index: auto;
//   display: inline-block;
//   position: absolute;
//   top: 100px;
//   left: 66px;
//   font-size: 24px;
//   color: #fff;
// }
.project-wrapper {
  .project-img {
    background: url('http://res.cloudinary.com/joshuaboele/image/upload/q_80/v1511900040/3_qeglaf.jpg');
    display: block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
    height: 150px;
    width: 100vw;
  }

  .project-img-2 {
    background: url('http://res.cloudinary.com/joshuaboele/image/upload/q_40/v1511900045/spijk_compressed_rft0vl.jpg');
    display: block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
    height: 150px;
    width: 100vw;
  }

  .project-header {
    font-size: 24px;
    text-align: center;
    margin: 20px auto 0px;
    padding-bottom: 10px;
    border-bottom: 2px solid $color-branding-yellow;
    width: 150px;
  }
  .project-description {
    padding-top: 5px;
    max-width: 15em;
    text-align: justify;
    height: auto;
    margin: 0 auto;
  }
}

.projects {
  width: 100%;
  .case-button {
    height: 50px;
    width: 160px;
    color: #fff;
    border: 2px solid white;
    box-shadow: none;
    -webkit-appearance: none;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
  }
  .wilgenwende {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(rgba(40, 29, 13, 0.45), rgba(40, 29, 13, 0.45)),
      url('http://res.cloudinary.com/joshuaboele/image/upload/q_40/v1511900041/2_vospcq.jpg') no-repeat center center
        fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .project-name {
      color: #fff;
      font-size: 24px;
      margin: 50px auto;
    }
  }
  .spijk {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(rgba(40, 29, 13, 0.45), rgba(40, 29, 13, 0.45)),
      url('http://res.cloudinary.com/joshuaboele/image/upload/q_40/v1511900728/spijk_xydoy9.jpg') no-repeat center
        center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .project-name {
      color: #fff;
      font-size: 24px;
      margin: 50px auto;
    }
  }
}

@media screen and (min-width: 960px) {
  .project-wrapper {
    .project-img {
      display: block;
      background: url('http://res.cloudinary.com/joshuaboele/image/upload/q_80/v1511900040/3_qeglaf.jpg') no-repeat
        center center fixed;
      height: 600px;
      width: 100%;
      margin: 0 auto;
      max-height: none;
      border: none;
    }

    .project-img-2 {
      display: block;
      background: url('http://res.cloudinary.com/joshuaboele/image/upload/q_40/v1511900045/spijk_compressed_rft0vl.jpg')
        no-repeat center center fixed;
      height: 600px;
      width: 100%;
      margin: 0 auto;
      max-height: none;
      border: none;
    }

    .project-header {
      font-size: 36px;
      text-align: center;
      margin: 50px auto 0px;
      padding-bottom: 7px;
      border-bottom: 4px solid $color-branding-yellow;
      width: 225px;
    }
    .project-description {
      padding-top: 30px;
      max-width: 620px;
      height: auto;
      margin: 0 auto;
      p {
        line-height: 1.5em;
      }
    }
  }

  .projects {
    .case-button {
      transition: all .2s ease-in;

      &:hover {
        background: $color-branding-yellow;
        border-color: $color-branding-yellow;
        color: $color-branding-black;
      }
    }
    .wilgenwende {
    }
    .spijk {
      background: linear-gradient(rgba(40, 29, 13, 0.45), rgba(40, 29, 13, 0.45)),
        url('http://res.cloudinary.com/joshuaboele/image/upload/q_50/v1511900728/spijk_xydoy9.jpg');
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
  }
}
